<div class="container">
    <div class="text-decoration-underline border border-white mt-5">
      <h1 class="text-primary d-flex justify-content-center">Ma Caisse</h1>
    </div>
  
    <div class="input-groupb  mt-3 border border-white d-flex align-items-center justify-content-evenly">
      <div class="d-flex">
          <p class="fw-bold fs-5">Mot de passe :</p>
        <input
          type="password" id="monInput"
          class="form-control input-size" 
          placeholder="Password" id="modepasseid" value={{stringToEvaluate}}
        />
        <button
          class="pi pi-check btn input-size btn-outline-secondary ms-2 "
          type="button" (click)="authentification()"
        >OK</button>
      </div>
      <div class="m-1 border border-white "> 
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('1')">1</button>
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('2')">2</button>
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('3')">3</button><br />
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('4')">4</button>
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('5')">5</button>
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('6')">6</button><br />
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('7')">7</button>
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('8')">8</button>
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('9')">9</button><br />
        <button class="btn cutom-size btn-secondary m-1 fw-bolder text-black"(click)="takeInput('0')">0</button>
        <button class="pi pi-delete-left btn cutom-size btn-secondary m-1 fw-bolder text-black" (click)="effacerCharachtere()"></button>
        <button class="pi pi-trash btn cutom-size btn-secondary m-1 fw-bolder text-black"  (click)="effacer()"></button>
     
      </div>
    </div>
    
    <div class="container border border-white mt-3 d-flex justify-content-center">
      <button class="pi pi-box btn ms-1 non-button " *ngIf="isAuthentification" [class.authentification-button]="isAuthentification" >Caisse </button>
      <button class="btn ms-1 non-button " *ngIf="isAuthentification" [class.authentification-button]="isAuthentification">Lecture</button>
      <button class="btn ms-1 non-button " *ngIf="isAuthentification" [class.authentification-button]="isAuthentification">Cloture</button>
      <button class="btn ms-1 non-button " *ngIf="isAuthentification" [class.authentification-button]="isAuthentification" >Periodique</button>
      <button class="btn ms-1 style-button " (click)="parameter()">Parametres</button>
      <button class="btn ms-1 non-button " [class.authentification-button]="isAuthentification" *ngIf="isAuthentification" routerLink="/configuration-component" routerLinkActive="active" ariaCurrentWhenActive="page">Configuration</button>
      <button class="btn ms-1 style-button">Quiter</button>
      
    </div>
    <div>
    
  </div>
</div>
