<div class ="container">
    <div class ="container">
        <h1 class ="text-center text-primary">Acées</h1>
    </div>
   
        <div class="d-flex justify-content-around mt-5">
         
        <div class="d-flex justify-content-between">
          
              <div class="">
                 
                      <fieldset >
                      <legend>Type</legend>
                     
                       </fieldset>
  
  
              
              </div>
        </div>
        </div>
       
        </div>


      
      

